body {
    background: #f5f5f5;
    font-family: Arial, sans-serif;
}

.container {
    width: 350px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
    margin-top: 50px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

input, button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
}

button {
    background: green;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
